//Colors

// Primary

$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);

//Neutral

$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);
$footer: rgb(225, 230, 233);

//font size
// Body

$m-d: 1.125rem; //18px

//font family

$mainfont: Bai-Jamjuree;
